<form [formGroup]="form" class="form">
  <mat-form-field class="header">
    <mat-label>Заголовок</mat-label>
    <textarea
      formControlName="header"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      matInput
    ></textarea>
  </mat-form-field>

  <img src="assets/logo.png" class="logo" alt="" />

  <mat-form-field class="protocol">
    <mat-label>Протокол</mat-label>
    <textarea
      formControlName="protocol"
      cdkTextareaAutosize
      matInput
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>
  <div class="datepicker">
    від
    <mat-form-field>
      <input matInput formControlName="date" [value]="formattedDate" />

      <input
        type="hidden"
        (dateChange)="onDateChange($event)"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        (dateChange)="onDateChange($event)"
      ></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Присутні:</mat-label>
    <mat-select formControlName="people" multiple>
      <app-select-all [model]="$any(form).controls['people']" [values]="people">
      </app-select-all>
      <mat-option *ngFor="let person of people" [value]="person">{{
        person
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Порядок денний:</p>
  <ng-container formArrayName="agendaKeys">
    <ng-container
      *ngFor="let agendaForm of agendaPoints.controls; let i = index"
    >
      <div style="width: 100%" [formGroup]="$any(agendaForm)">
        <div class="point">
          <span class="counter">{{ i + 1 }}.</span>
          <mat-form-field style="min-width: 300px" appearance="fill">
            <mat-label>Подія</mat-label>
            <mat-select formControlName="keyword">
              <mat-option
                *ngFor="let keyword of keys$ | async"
                [value]="keyword"
                >{{ keyword }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Громадянство</mat-label>
            <mat-select formControlName="nationality">
              <mat-option
                *ngFor="let nationality of nationalityKeys$ | async"
                [value]="nationality"
                >{{ nationality }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Форма навчання</mat-label>
            <mat-select formControlName="formOfEducation">
              <mat-option
                *ngFor="let formOfEducation of formOfEducationKeys$ | async"
                [value]="formOfEducation"
                >{{ formOfEducation }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>База вступу</mat-label>
            <mat-select formControlName="entryBase">
              <mat-option
                *ngFor="let entryBase of entryBaseKeys$ | async"
                [value]="entryBase"
                >{{ entryBase }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Освітній ступінь</mat-label>
            <mat-select formControlName="educationDegree">
              <mat-option
                *ngFor="let educationDegree of educationDegreeKeys$ | async"
                [value]="educationDegree"
                >{{ educationDegree }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <button
            mat-icon-button
            matSuffix
            [disabled]="agendaPoints.length === 1"
            (click)="deleteAgendaPoint(i)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
        <mat-card class="agenda">
          <mat-card-content>
            <span>{{
              getAgendaValue(i + 1, $any(agendaForm))
            }}</span></mat-card-content
          >
        </mat-card>
        <br />
        <p>Вирішили:</p>
        <mat-form-field>
          <mat-label>Додаток</mat-label>
          <input formControlName="agendaAddition" matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Слухали:</mat-label>
          <mat-select formControlName="heard">
            <mat-option
              *ngFor="let staffKey of staffKeys$ | async"
              [value]="staffKey"
              >{{ staffKey }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Виступив:</mat-label>
          <mat-select formControlName="speaker">
            <mat-option
              *ngFor="let staffKey of staffKeys$ | async"
              [value]="staffKey"
              >{{ staffKey }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <!-- <p>Здобувачі:</p>
        <ng-container formArrayName="applicantPoints">
          <ng-container
            *ngFor="
              let applicantForm of getApplicantArrayControll($any(agendaForm))
                .controls;
              let i = index
            "
          >
            <div
              style="width: 100%"
              class="point"
              [formGroup]="$any(applicantForm)"
            >
              <mat-form-field appearance="fill">
                <mat-label>Здобувач</mat-label>
                <mat-select formControlName="applicant">
                  <mat-option
                    *ngFor="let applicant of getApplicants($any(agendaForm))"
                    [value]="applicant.applicant.fullName"
                    >{{ applicant.applicant.fullName }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Джерело фін</mat-label>
                <input formControlName="source" matInput />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Резолюція</mat-label>
                <mat-select formControlName="resolution">
                  <mat-option
                    *ngFor="let staff of staffResolutions$ | async"
                    [value]="staff"
                    >{{ staff }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Додаток</mat-label>
                <input formControlName="addition" matInput />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Зав. курс</mat-label>
                <input formControlName="zavKurs" matInput />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Попередній заклад освіти</mat-label>
                <input
                  formControlName="previousEducationalEstablishment"
                  matInput
                />
              </mat-form-field>
              <button
                mat-icon-button
                matSuffix
                [disabled]="
                  getApplicantArrayControll($any(agendaForm)).length === 1
                "
                (click)="deleteApplicantPoint($any(agendaForm), i)"
              >
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </ng-container>
        </ng-container> -->
        <!-- <button
          mat-raised-button
          color="secondary"
          (click)="addApplicantPoint($any(agendaForm))"
        >
          Додати здобувача
        </button> -->
        <mat-card class="agenda">
          <mat-card-content>
            <span>{{
              getDecisionValue(i + 1, $any(agendaForm))
            }}</span></mat-card-content
          >
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="secondary" (click)="addAgendaPoint()">
    Додати пункт
  </button>
  <br />
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    "
  >
    <mat-form-field style="width: auto" appearance="fill">
      <mat-label>Ректор</mat-label>
      <mat-select formControlName="rector">
        <mat-option *ngFor="let person of people" [value]="person">{{
          person
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: auto" appearance="fill">
      <mat-label>Відповідальний секретар ПК</mat-label>
      <mat-select formControlName="secretar">
        <mat-option *ngFor="let person of people" [value]="person">{{
          person
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<div
  class="preview-btn"
  matTooltip="Заповніть обов'язкові поля"
  [matTooltipDisabled]="form.valid"
>
  <button
    (click)="onPreviewClick()"
    [disabled]="form.invalid"
    mat-raised-button
  >
    Превью
  </button>
  <button (click)="saveTemplate()" mat-raised-button>Зберегти</button>
</div>
