<form [formGroup]="form" class="form">
  <mat-form-field class="header">
    <mat-label>Заголовок</mat-label>
    <textarea
      formControlName="header"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      matInput
    ></textarea>
  </mat-form-field>

  <img src="assets/logo.png" class="logo" alt="" />
  <div
    style="
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      white-space: pre-wrap;
    "
  >
    <span>Протокол №{{ templateName }}</span>
    <br />
    <span>засідання приймальної комісії</span>
    <br />
    від {{ formattedDate }}
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Присутні:</mat-label>
    <mat-select formControlName="people" multiple>
      <app-select-all [model]="$any(form).controls['people']" [values]="people">
      </app-select-all>
      <mat-option *ngFor="let person of people" [value]="person">{{
        person
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Порядок денний:</p>
  <ng-container formArrayName="agendaKeys">
    <ng-container
      *ngFor="let agendaForm of agendaPoints.controls; let i = index"
    >
      <div style="width: 100%" [formGroup]="$any(agendaForm)">
        <div class="point">
          <span class="counter">{{ i + 1 }}.</span>
          <mat-form-field style="min-width: 300px" appearance="fill">
            <mat-label>Подія</mat-label>
            <mat-select formControlName="keyword">
              <mat-option
                *ngFor="let keyword of keys$ | async"
                [value]="keyword"
                >{{ keyword }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Громадянство</mat-label>
            <mat-select formControlName="nationality">
              <mat-option
                *ngFor="let nationality of nationalityKeys$ | async"
                [value]="nationality"
                >{{ nationality }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Форма навчання</mat-label>
            <mat-select formControlName="formOfEducation">
              <mat-option
                *ngFor="let formOfEducation of formOfEducationKeys$ | async"
                [value]="formOfEducation"
                >{{ formOfEducation }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>База вступу</mat-label>
            <mat-select formControlName="entryBase">
              <mat-option
                *ngFor="let entryBase of entryBaseKeys$ | async"
                [value]="entryBase"
                >{{ entryBase }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Освітній ступінь</mat-label>
            <mat-select formControlName="educationDegree">
              <mat-option
                *ngFor="let educationDegree of educationDegreeKeys$ | async"
                [value]="educationDegree"
                >{{ educationDegree }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <button
            mat-icon-button
            matSuffix
            [disabled]="agendaPoints.length === 1"
            (click)="deleteAgendaPoint(i)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
        <mat-card class="agenda">
          <mat-card-content>
            <span>{{
              getAgendaValue(i + 1, $any(agendaForm))
            }}</span></mat-card-content
          >
        </mat-card>
        <br />
        <p>Вирішили:</p>
        <mat-form-field>
          <mat-label>Додаток</mat-label>
          <input formControlName="agendaAddition" matInput />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Слухали:</mat-label>
          <mat-select formControlName="heard">
            <mat-option
              *ngFor="let staffKey of staffKeys$ | async"
              [value]="staffKey"
              >{{ staffKey }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Виступив:</mat-label>
          <mat-select formControlName="speaker">
            <mat-option
              *ngFor="let staffKey of staffKeys$ | async"
              [value]="staffKey"
              >{{ staffKey }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-card class="agenda">
          <mat-card-content>
            <span>{{
              getDecisionValue(i + 1, $any(agendaForm))
            }}</span></mat-card-content
          >
        </mat-card>
      </div>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="secondary" (click)="addAgendaPoint()">
    Додати пункт
  </button>
  <br />
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    "
  >
    <mat-form-field style="width: auto" appearance="fill">
      <mat-label>Ректор</mat-label>
      <mat-select formControlName="rector">
        <mat-option *ngFor="let person of people" [value]="person">{{
          person
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: auto" appearance="fill">
      <mat-label>Відповідальний секретар ПК</mat-label>
      <mat-select formControlName="secretar">
        <mat-option *ngFor="let person of people" [value]="person">{{
          person
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<div
  class="preview-btn"
  matTooltip="Заповніть обов'язкові поля"
  [matTooltipDisabled]="form.valid"
>
  <button
    (click)="onPreviewClick()"
    [disabled]="form.invalid"
    mat-raised-button
  >
    Превью
  </button>
  <button (click)="saveTemplate()" mat-raised-button>Зберегти</button>
</div>
