:host {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 95%;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  display: block;
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea {
      resize: none;
    }
    .header {
      width: 500px;
      textarea {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .point {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      width: 100%;
      .counter {
        margin-top: 30px;
      }
    }
    .protocol {
      width: 300px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
    }
    .agenda {
      margin-bottom: 16px;
      white-space: pre-wrap;
      width: 100%;
      textarea {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .decision {
      textarea {
        font-size: 14px;
        font-weight: 400;
      }
    }
    .logo {
      width: 64px;
      height: 77px;
    }
    mat-form-field {
      width: 100%;
    }
  }

  .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview-btn {
    position: fixed;
    top: 15px;
    right: 15px;
  }
}
