<form [formGroup]="form" class="form">
  <mat-form-field class="header">
    <mat-label>Заголовок</mat-label>
    <textarea
      formControlName="header"
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      matInput
    ></textarea>
  </mat-form-field>

  <img src="assets/logo.png" class="logo" alt="" />

  <mat-form-field class="protocol">
    <mat-label>Протокол</mat-label>
    <textarea
      formControlName="protocol"
      cdkTextareaAutosize
      matInput
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Присутні:</mat-label>
    <mat-select formControlName="people" multiple>
      <app-select-all [model]="$any(form).controls['people']" [values]="people">
      </app-select-all>
      <mat-option *ngFor="let person of people" [value]="person">{{
        person
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Порядок денний:</p>
  <ng-container formArrayName="agenda">
    <ng-container
      *ngFor="let agendaForm of agendaPoints.controls; let i = index"
    >
      <div class="point">
        <span class="counter">{{ i + 1 }}.</span>

        <mat-form-field class="agenda">
          <mat-label>Порядок денний</mat-label>
          <textarea
            [formControl]="$any(agendaForm)"
            cdkTextareaAutosize
            matInput
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="12"
          >
          </textarea>
          <button
            mat-icon-button
            matSuffix
            [disabled]="agendaPoints.length === 1"
            (click)="deleteAgendaPoint(i)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="secondary" (click)="addAgendaPoint()">
    Додати пункт
  </button>
  <br />
  <p>Вирішили:</p>
  <ng-container formArrayName="decision">
    <ng-container
      *ngFor="let decisionForm of decisionPoints.controls; let i = index"
    >
      <div class="point">
        <span class="counter">{{ i + 1 }}.</span>

        <mat-form-field class="decision">
          <mat-label>Вирішили:</mat-label>
          <textarea
            [formControl]="$any(decisionForm)"
            cdkTextareaAutosize
            matInput
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="12"
          ></textarea>
          <button
            mat-icon-button
            [disabled]="decisionPoints.length === 1"
            matSuffix
            (click)="deleteDecisionPoint(i)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
  <button mat-raised-button color="secondary" (click)="addDecisionPoint()">
    Додати пункт
  </button>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Ректор</mat-label>
    <mat-select formControlName="rector">
      <mat-option *ngFor="let person of people" [value]="person">{{
        person
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Відповідальний секретар ПК</mat-label>
    <mat-select formControlName="secretar">
      <mat-option *ngFor="let person of people" [value]="person">{{
        person
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div
  class="preview-btn"
  matTooltip="Заповніть обов'язкові поля"
  [matTooltipDisabled]="form.valid"
>
  <button
    (click)="onPreviewClick()"
    [disabled]="form.invalid"
    mat-raised-button
  >
    Превью
  </button>
</div>
